body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/blue-grid.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: content;
    color: fuchsia;
    font-weight: bold;
}

header {
    text-align: center;
    font-weight: bolder;
    font-size: 8em;
    -webkit-text-stroke: 3px aqua;
    text-shadow: 0px 0px 25px;
}

button {
    margin: 0px 10px;
    padding: 10px;
    background-color: aqua;
    border: 2px solid fuchsia;
    color: fuchsia;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    background-color: blueviolet;
}

footer > div {
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

nav {
    justify-content: center;
}

nav > button {
    margin: 10px;
}

#board {
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 25px;
    width: fit-content;
    height: fit-content;
    margin: 50px 100px;
    padding: 20px;
    border-radius: 15px;
    background-color: blueviolet;
}

#man1 {
    height: auto;
    width: 100px;
    border-radius: 50%;
    margin: 25px;
    box-shadow: inset rgb(70, 70, 70) 0px 0px 25px 15px;
}

.pots {
    height: fit-content;
    width: fit-content;
    
}

#row1 {
    display: flex;
    flex-direction: row;
}

#row2 {
    display: flex;
    flex-direction: row;
}

#man2 {
    height: auto;
    width: 100px;
    border-radius: 50%;
    margin: 25px;
    box-shadow: inset rgb(70, 70, 70) 0px 0px 25px 15px;
}

.pot {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: inset rgb(70, 70, 70) 0px 0px 25px 15px;
}

footer > div {
    text-align: center;
    padding: 10px;
    font-size: 24px;
}